{% block body %}
    <div class="container">
        <h1 class="mb-3 mt-3">Comments</h1>
        <button id="newCommentVueButton" data-bs-toggle="collapse" data-bs-target="#newCommentVue" class="btn btn-primary mb-3">New Comment</button>
        <div id="newCommentVue" class="collapse">
            {% include "comment/new_comment.html" %}  
        </div>
        <div id="popup"></div>    
        <div id="comments"></div>
    </div>
    <script type="module">
        import { sendAjax } from '/static/js/ajax-tools.js';
        import { CommentComponent } from '/static/js/components/comment-component.js';

        let service_id = "{{ service.service_id }}";

        sendAjax('/comments/service', 'post', service_id)
            .then((res) => {
                const datas = JSON.parse(res);

                datas.forEach(data => {
                    let comment = new CommentComponent(data);
                    let commentDiv = document.querySelector('#comments');
                    commentDiv.appendChild(comment.card);
                });
            })
    </script>
{% endblock %}