
<form method="post">
    {{ form.csrf_token }}
    <div class="p-1 bg-light rounded rounded-pill shadow-sm mb-4">
        <div class="input-group">
            <!-- search_content -->
            <input type="search" id="search_content" name="search_content"
                   placeholder="What are you searching for?" aria-describedby="button-addon1"
                   class="form-control border-0 bg-light" value="{{form.search_content.data}}">
            <!--<div class="input-group-append">
                <select class="form-control border-0 bg-light" id="search_target" name="search_target">
                    {% for choice in form.search_target.choices %}
                    <option {%if choice==form.search_target.data%}selected{%endif%}>
                        {{choice}}
                    </option>
                    {% endfor %}
                </select>
            </div>-->
            <div class="input-group-append">
                <button id="button-addon1" type="submit" class="btn text-primary">Search</button>
            </div>
        </div>
    </div>
</form>