{% extends "layout/layout.html" %}
{% block body %}
<div>
    <form id="add_update_delivery" method="post">
        {{ form.csrf_token }}
        {% if clid == -1 %}
            <!-- add -->
            <h3>Création d'une prestation</h3>
        {% else %}
            <!-- update -->
            <h3>Mise à jour d'une prestation</h3>
        {% endif %}
        <input type="text" name="usrsrv" id="usrsrv" value="{{ form.usrsrv.data if form.usrsrv.data else delivery.user_service_id }}" hidden>
        <p>
            <span>
                <label for="workername">Prestataire: </label>
                <input type="text"   name="workername"     id="workername"     value="{{ user.firstname + ' ' + user.lastname }}" disabled>
                <a     type="button" name="workerdetails"  id="workerdetails"
                       href="{{ url_for('profile_page', username=user.user_name) }}">Détails</a>
            </span>
        </p>
        <p>
            <span>
                <label for="servicename">Service: </label>
                <input type="text"   name="servicename"    id="servicename"    value="{{ service.name + ' (' + service.type.name + ')' }}" disabled>
                <a     type="button" name="servicedetails" id="servicedetails"
                       href="{{ url_for('service_detail', service_id=service.service_id) }}">Détails</a>
            </span>
        </p>

        <p>
            <span>
                <label for="clientname">Client: </label>
                {% if clid == -1 %}
                    <!-- add -->
                    <select name="clientname" id="clientname" placeholder="Choisissez">
                        <!-- first option to keep placeholder visible -->
                        <option value="" disabled selected hidden></option>
                        {% for usr in usr_lst %}
                            <option value="{{ usr.user_id }}"> {{ usr.firstname + " " + usr.lastname }} </option>
                        {% endfor %}
                    </select>
                {% else %}
                    <!-- update -->
                    <select name="clientname" id="clientname" disabled value="{{ delivery.client_id }}">
                        {% for usr in usr_lst %}
                            <option value="{{ usr.user_id }}"
                                {% if clid == usr.user_id %}
                                    selected
                                {% endif %}>
                                {{ usr.firstname + " " + usr.lastname }}
                            </option>
                        {% endfor %}
                    </select>
                {% endif %}>
                {% if form.errors and "clientname" in form.errors.keys() %}
                    {{ form.errors['clientnames'] }}
                {% endif %}
                <!-- href "#" will be set when select an option in list (see below) -->
                <a type="button" name="clientdetails" id="clientdetails" href="{{ '#' }}">Détails</a>
            </span>
        </p>
        <p>
            <span>
                <label for="startdate">Date (de début): </label>
                {% if clid == -1 %}
                    <!-- add -->
                    <input type="date" name="startdate" id="startdate" required value="{{ form.startdate.data }}" placeholder="dd-mm-aaaa">
                {% else %}
                    <!-- update, need to format date -->
                    <input type="date" name="startdate" id="startdate" disabled value="{{ delivery.start_date.strftime('%Y-%m-%d') }}">
                {% endif %}
                {% if form.errors and "startdate" in form.errors.keys() %}
                    {{ form.errors['startdate'] }}
                {% endif %}
            </span>
        </p>
        <p>
            <span>
                <label for="duration">Durée prévue: </label>
                {% if clid == -1 %}
                    <!-- add -->
                    <input type="text" name="duration" id="duration" required value="{{ form.duration.data if form.duration.data else '' }}" placeholder="h:mm">
                {% else %}
                    <!-- update -->
                    <input type="text" name="duration" id="duration" disabled value="{{ dur_str }}">
                {% endif %}
                {% if form.errors and "duration" in form.errors.keys() %}
                    {{ form.errors['duration'] }}
                {% endif %}
            </span>
        </p>

        {% if clid != -1 %}
            <!-- update (hidden for add) -->
            <p>
                <span>
                    <label for="durationeff">Durée effective: </label>
                    <input type="text" name="durationeff" id="durationeff" placeholder="h:mm" required value="{{ eff_str if form.durationeff.data else '' }}">
                    {% if form.errors and "durationeff" in form.errors.keys() %}
                        {{ form.errors['durationeff'] }}
                    {% endif %}
                </span>
            </p>
            <p>
                <span>
                    <label for="done">Clôturé: </label>
                    <input type="checkbox" name="done" id="done" value="{{ form.done.data }}">
                    {% if form.errors and "done" in form.errors.keys() %}
                        {{ form.errors['done'] }}
                    {% endif %}
                </span>
            </p>
        {% endif %}

        <p>
            <input type="submit" value="Enregistrer">
        </p>
    </form>

    <!-- to update href for details on client -->
    <script type="module">
        document.getElementById('clientname').addEventListener('onchange', (e) =>
        {
            const dta = document.forms['add_update_delivery']["clientname"].value
            if (dta != -1)
            {
                butCli = document.getElementById("clientdetails")
                butCli.href = "/user/" + dta
            }
        })
    </script>

</div>
{% endblock %}
