{% extends 'layout/layout.html' %}
{% block body %}
    <form action="" method="post">
        <input type="text" name="first_name">
        <input type="text" name="last_name"><br>
        <input type="text" name="username"><br>
        <input type="password" name="password"><br>
        <input type="password" name="confirm"><br>
        <input type="text" name="mail"><br>
        <input type="text" name="description">
        <input type="text" name="streetname">
        <input type="number" name="number"><br>
        <input type="number" name="zip_code">
        <input type="text" name="country">
    </form>
{% endblock %}