{% extends 'layout/layout.html' %}
{% block body %}
    <div class="container">
        <h1>
            profile
        </h1>
        <div class="row justify-content-start">
            <div class="col-sm-3">
                <img src="{{profile_picture}}" alt="profile picture">
            </div>
            <div class="col-sm ">
                {{ user.username }} (<a href=>{{user.mail}}</a>) <br>
                <h4>
                    address
                </h4>
                {{ user.address.street}} {{ user.address.number}} <br>
                {{ user.address.zip}}, {{ user.address.country}} <br>
                hours: {{ user.hours}}
            </div>
        </div>
        <h1>
            description
        </h1>
        <div class="row justify-content-start-1">
            {{ user.description }}
        </div>
        <h1>
            Services
        </h1>
        {% block services %}
            to-do
        {% endblock %}
    </div>
{% endblock %}